@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "DrinkList";
}
<body class="layout-custom">
    <h1 class="font-custom" style="text-align: center">Our Drinks</h1>
    <hr/>
    <section class="cards">
        @await Html.PartialAsync("~/Views/Menu/_Card.cshtml")
        @await Html.PartialAsync("~/Views/Menu/_Card.cshtml")
        @await Html.PartialAsync("~/Views/Menu/_Card.cshtml")
    </section>
</body>