@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "CakeDetails";
}

<body class="layout-custom">
    <h1 class="font-custom" style="text-align: center">Our Cake</h1>
    <hr/>
    <div class="card-cake-container">
        <div class="card-cake u-clearfix">
            <div class="card-cake-body">
                <h2 class="card-cake-title">Brunch</h2>
                <span class="card-cake-description subtle">
                    <div>
                        <h2>Ingredients</h2>
                        <hr>
                        <ul>
                            <li>Butter, for greassing</li>
                            <li>3 free-range egg yolks</li>
                            <li>125g/4½ oz caster sugar</li>
                            <li>30g/1oz cornflour</li>
                            <li>1 vanilla pod, split, seeds scraped out</li>
                            <li>175ml/6fl oz full-fat milk</li>
                            <li>225ml/8fl oz double cream</li>
                            <li>300g/10½ oz ready-rolled puff pastry</li>
                            <li>Plain flour, for dusting</li>
                            <li>Icing sugar, for dusting</li>
                        </ul>
                    </div>
                    <br /><br />
                    <div>
                        <h4>Price: 20RON</h4>  
                    </div>
                    <div>
                        <button class="btn btn-primary" type="button"><i class="fa fa-shopping-cart"></i></button>
                    </div>
                </span>
            </div>
            <img src="https://s15.postimg.cc/temvv7u4r/recipe.jpg" alt="" class="card-cake-media" />
        </div>
        <div class="card-cake-shadow"></div>
    </div>
</body>