 <article class="card card--1">
     <div class="card__img"></div>
     <a href="#" class="card_link">
         <div class="card__img--hover"></div>
     </a>
     <div class="card__info">
         <span class="card__category">Cake</span>
         <a asp-controller="Cake" asp-action="CakeDetails">
             <h3 class="card__title">Crisp Spanish tortilla Matzo brei</h3>
         </a>
         <span class="card__by">20 RON</span>
         <button style="margin-left: 100px" class="btn btn-primary" type="button"><i class="fa fa-shopping-cart"></i></button>
     </div>
 </article>