@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Cart";
}


<body class="layout-custom">
    <h1 class="font-custom" style="text-align:center">Shopping Cart</h1>
    <hr />
    <div class="container mt-5 mb-5">
        <div class="d-flex justify-content-center row">
            <div class="col-md-8">
                <div class="d-flex flex-row justify-content-between align-items-center p-2 color-beige mt-4 px-3 rounded">
                    <div class="mr-1"><img class="rounded" src="../../images/macarons.jpg" width="70"></div>
                    <div class="d-flex flex-column align-items-center product-details">
                        <span class="font-weight-bold">Macarons</span>
                        <div class="d-flex flex-row product-desc">
                            <div class="size mr-1"><span class="text-grey">Cakes</span></div>
                        </div>
                    </div>
                    <div class="d-flex flex-row align-items-center qty">
                        <i class="fa fa-minus color-pink"></i>
                        <h5 class="text-grey mt-1 mr-1 ml-1">2</h5><i class="fa fa-plus color-pink"></i>
                    </div>
                    <div>
                        <h5 class="text-grey">$20.00</h5>
                    </div>
                    <div class="d-flex align-items-center"><i class="fa fa-trash"></i></div>
                </div>
                <div class="d-flex flex-row justify-content-between align-items-center p-2 color-beige mt-4 px-3 rounded">
                    <div class="mr-1"><img class="rounded" src="../../images/smmothie.jpg" width="70"></div>
                    <div class="d-flex flex-column align-items-center product-details">
                        <span class="font-weight-bold">Purple Smoothie</span>
                        <div class="d-flex flex-row product-desc">
                            <div class="size mr-1"><span class="text-grey">Drinks</span></div>
                        </div>
                    </div>
                    <div class="d-flex flex-row align-items-center qty">
                        <i class="fa fa-minus color-pink"></i>
                        <h5 class="text-grey mt-1 mr-1 ml-1">2</h5><i class="fa fa-plus color-pink"></i>
                    </div>
                    <div>
                        <h5 class="text-grey">$20.00</h5>
                    </div>
                    <div class="d-flex align-items-center"><i class="fa fa-trash"></i></div>
                </div>
                <div class="d-flex flex-row justify-content-between align-items-center p-2 color-beige mt-4 px-3 rounded">
                    <div class="mr-1"><img class="rounded" src="../../images/coffee.jpg" width="70"></div>
                    <div class="d-flex flex-column align-items-center product-details">
                        <span class="font-weight-bold">Coffee</span>
                        <div class="d-flex flex-row product-desc">
                            <div class="size mr-1"><span class="text-grey">Drinks</span></div>
                        </div>
                    </div>
                    <div class="d-flex flex-row align-items-center qty">
                        <i class="fa fa-minus color-pink"></i>
                        <h5 class="text-grey mt-1 mr-1 ml-1">2</h5><i class="fa fa-plus color-pink"></i>
                    </div>
                    <div>
                        <h5 class="text-grey">$20.00</h5>
                    </div>
                    <div class="d-flex align-items-center"><i class="fa fa-trash"></i></div>
                </div>
                <div class="d-flex flex-row justify-content-between align-items-center p-2 color-beige mt-4 px-3 rounded">
                    <div class="mr-1"><img class="rounded" src="../../images/desserts.jpg" width="70"></div>
                    <div class="d-flex flex-column align-items-center product-details">
                        <span class="font-weight-bold">Donuts</span>
                        <div class="d-flex flex-row product-desc">
                            <div class="size mr-1"><span class="text-grey">Cakes</span></div>
                        </div>
                    </div>
                    <div class="d-flex flex-row align-items-center qty">
                        <i class="fa fa-minus color-pink"></i>
                        <h5 class="text-grey mt-1 mr-1 ml-1">2</h5><i class="fa fa-plus color-pink"></i>
                    </div>
                    <div>
                        <h5 class="text-grey">$20.00</h5>
                    </div>
                    <div class="d-flex align-items-center"><i class="fa fa-trash"></i></div>
                </div>
                <div class="d-flex flex-row justify-content-between align-items-center p-2 color-beige mt-4 px-3 rounded">
                    <div class="mr-1"><h5>Total Price: 100RON</h5></div>
                    <div class="d-flex align-items-center">
                        <button class="btn btn-primary" type="button">Place Order</button>
                    </div>
                </div>
            </div>
    </div>
</body>